name: robinhood_options_mobile
description: RealizeAlpha App

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.android.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.31.1+90

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # Used by all Firebase services
  firebase_core: ^3.12.1
  # Analyze usage with Firebase/Google Analytics
  firebase_analytics: ^11.4.1
  # Plaid functions
  cloud_functions: ^5.3.1
  # Database
  cloud_firestore: ^5.6.2
  # Authentication with Federated Identity Provider (Google)
  firebase_auth: ^5.4.2
  flutter_facebook_auth: ^7.0.1
  flutter_signin_button: ^2.0.0
  google_sign_in: ^6.1.0
  google_sign_in_dartio: ^0.3.0
  # Used by Firebase auth for TOTP code.
  barcode_widget: ^2.0.4
  # Used by Firebase auth for withSilentVerificationSMSMFA. Also used for push notifications
  firebase_messaging: ^15.2.2  
  # Device Info, model, etc. 
  device_info_plus: ^11.3.3
  # App Version
  package_info_plus: ^8.0.2

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  #cupertino_icons: ^1.0.5

  oauth2: ^2.0.3
  shared_preferences: ^2.4.0
  #path_provider: ^2.0.8 # TODO: Remove dependency for shared_preferences
  provider: ^6.1.2
  intl: ^0.20.2
  decimal: ^3.2.1
  csv: ^6.0.0
  permission_handler: ^12.0.0+1
  # TODO: Check if used
  #open_file: ^3.2.1
  # rxdart: ^0.27.2
  # TODO: Deprecated, using floating SliverAppBar instead.
  flutter_sticky_header: ^0.8.0
  # Used to display charts
  community_charts_flutter: ^1.0.4
  # Used by charts for SelectionMode
  community_charts_common: ^1.0.4
#    git:
#      url: git://github.com/google/charts.git
#      path: charts_flutter
  url_launcher: ^6.3.1  # flutter_echarts: ^2.3.0
  # local_auth: ^1.1.4
  share_plus: ^11.0.0
  uuid: ^4.5.1
  material_color_utilities: ^0.11.1
  dynamic_color: ^1.7.0
#  scrollable_positioned_list: ^0.2.3
  collection: ^1.19.0
  http: ^1.3.0
  google_mobile_ads: ^6.0.0
  # Schwab login integration.
  flutter_web_auth_2: ^4.1.0
  # uni_links: ^0.5.1
  app_links: ^6.3.3  
  plaid_flutter: ^4.2.0
  # Used for StreamGroup.merge of batched approach to deal with Firestore where(in) limit of 30.
  async: ^2.11.0
  # Used to cache user image in SliverAppBar 
  cached_network_image: ^3.4.1
  # Used for AI Assistant
  firebase_ai: ^2.0.0
  # Deprecated by firebase_ai
  # firebase_vertexai: ^1.4.0
  flutter_markdown: ^0.7.6+2
  # Used by option chain lists
  scrollable_positioned_list: ^0.3.8
  # SMS and Phone number hints
  smart_auth: ^3.2.0
  # Used to set app icon badge count (resetting it on app open).
  app_badge_plus: ^1.2.6
  candlesticks: ^2.1.0
  in_app_purchase: ^3.2.3
  firebase_remote_config: ^5.5.0
  local_auth: ^3.0.0

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^6.0.0

  flutter_launcher_icons: ^0.14.3
  flutter_native_splash: ^2.4.4
  # Was added by AI agent but seems unused.
  # firebase_core_platform_interface: ^6.0.2

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
   - assets/images/icon.png
   - assets/images/iconold.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

flutter_icons:
  # Generated from https://icon.kitchen/i/H4sIAAAAAAAAAz2PQQvCMAyF%2F8vzuougIL36BwS9iUi2pl2xW0bXKiL%2Bd5spXpLHS8j38sKdYuEZ5gVL6XbqeWAYR3HmBs7vY5goZR3PXBssOyoxo0HoZKxGTjzaMPprmfBu0PrTc6oX0EmUVNdav1%2BUwWqz2ZFz1ctKsTA5lYVyIKsnlJJlgllvG6Tg%2BwpU2UrOMnx1ZLe4FeX%2BqF9IhR17%2BnohdZE10SC2RP3wDBptkmA1vMy1PrjF5f0BVnZtHwQBAAA%3D
  # Used AppIcon~ios-marketing.png
  image_path: "icon.png" 
  android: true
  ios: true
  # optionally, as transparency is not allowed on app store
  remove_alpha_ios: true
flutter_native_splash:
  color: "#ffffff"
  image: assets/images/icon.png
  android_12:
    image: assets/images/icon.png
    color: "#ffffff"
